.container
  .side-nav
    %ul.nav.songbooks
      - @songbooks.each do |songbook|
        %li{ class: ('active' if params[:id] == songbook.slug) }
          %a{ href: songbook_path(songbook) }= songbook.name

  .content
    %ul.tracks
      - @entries.each do |entry|
        %li
          - if track = entry.track
            = link_to "#{track.album.artist.name} – #{track.name}", track_path(track.artist, track.album, track)
          - else
            #{entry.artist} – #{entry.title}